<% include ./partials/header %>

<style>
  form #editor{
    height: 250px;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h1>Edit <%= location.name %></h1>
      <form action="/dashboard/locations/<%= location.id %>?_method=PUT" method="POST">
        <input class="form-control" type="text" name="location[name]" value="<%= location.name %>" required/>
        <input class="form-control" type="text" name="location[phone]" value="<%= location.phone %>" />
        <input class="form-control" type="text" name="location[address]" value="<%= location.address %>" />
        <input class="form-control" type="text" name="location[city]" value="<%= location.city %>" />
        <input class="form-control" type="text" name="location[state]" value="<%= location.state %>" />
        <input class="form-control" type="text" name="location[zip]" value="<%= location.zip %> "/>
        <input class="form-control" type="text" name="location[image]" value="<%= location.image %>" />
        <!-- <div id="wysiwyg-menu">
          <div id="bold"class="btn btn-info">B</div>
          <button id="italic" class="btn btn-info"><em>I</em></button>
          <button id="underline" class="btn btn-info"><u>U</u></button>
          <button id="fontSize" class="btn btn-info">F</button>
          <button id="fontColor" class="btn btn-info">FC<i class="fa fa-eye-dropper"></i></button>
          <button id="highlight" class="btn btn-info">H</button>
          <button id="link" class="btn btn-info"><i class="fa fa-link"></i></button>
          <button id="unlink" class="btn btn-info"><i class="fa fa-unlink"></i></button>
        </div> -->
        <textarea id="editor" class="form-control" name="location[info]" ><%= location.info %></textarea>
        <input class="btn btn-success" type="submit" />
      </form>
    </div>
  </div>
</div>

<script>
  var editInfo = document.getElementById('editor');

  function editable(){
    editor.document.designMode = 'on';
  }

  function bold(){
    editor.document.execCommand('bold', false, null);
  }

  function italic(){
    editor.document.execCommand('italic', false, null);
  }

  function underline(){
    editor.document.execCommand('underline', false, null);
  }

  function fontSize(){
    var size = prompt('Enter a size(1-7)', '');
    editor.document.execCommand('fontsize', false, size);
  }

  function fontColor(){
    var color = prompt('Enter a name of a color or a hexidecimal', '');
    editor.document.execCommand('forecolor', false, color);
  }

  function highlight(){
    var backColor = prompt('Enter a name of a color or a hexidecimal', '');
    editor.document.execCommand('backcolor', false, backColor);
  }

  function link(){
    var link = prompt('Enter a link', 'http://');
    editor.document.execCommand('createlink', false, link);
  }

  function unlink(){
    editor.document.execCommand('unlink', false, null);
  }

  function addImage(){
    editor.document.execCommand('insertImage')
  }

  document.getElementById('bold').onclick = bold;
  document.getElementById('italic').onclick = italic;
  document.getElementById('underline').onclick = underline;
  document.getElementById('fontSize').onclick = fontSize;
  document.getElementById('fontColor').onclick = fontColor;
  document.getElementById('link').onclick = link;
  document.getElementById('unlink').onclick = unlink;

</script>

<% include ./partials/footer %>
